<div class="jumbotron text-center">
    <h1>Home Page</h1>
    <p>{{ message }}</p>
</div>
<div class="container col-md-6 col-md-offset-3">
    <h3 class="text-center">Employee Records</h3>
    <table class="table table-bordered table-striped">
        <thead>
        <td ng-click="sort('UserName')" class="cursor">
            <b>User Name</b>
            <span ng-if="predicate==='UserName'">
                <i class="fa fa-arrow-up" ng-if="reverse"></i>
                <i class="fa fa-arrow-down" ng-if="!reverse"></i>
            </span>
        </td>
        <td ng-click="sort('EmpName')" class="cursor">
            <b>Employee Name</b>
            <span ng-if="predicate==='EmpName'">
                <i class="fa fa-arrow-up" ng-if="reverse"></i>
                <i class="fa fa-arrow-down" ng-if="!reverse"></i>
            </span>
        </td>
        <td ng-click="sort('GroupID')" class="cursor">
            <b>Employee Group ID</b>
            <span ng-if="predicate==='GroupID'">
                <i class="fa fa-arrow-up" ng-if="reverse"></i>
                <i class="fa fa-arrow-down" ng-if="!reverse"></i>
            </span>
        </td>
        <td ng-click="sort('RoleID')" class="cursor">
            <b>Employee Role ID</b>
            <span ng-if="predicate==='RoleID'">
                <i class="fa fa-arrow-up" ng-if="reverse"></i>
                <i class="fa fa-arrow-down" ng-if="!reverse"></i>
            </span>
            </tdng-click>

            </thead>
        <tr ng-repeat="user in users | orderBy:predicate:reverse">
            <td> {{user.UserName}} </td>
            <td> {{user.EmpName}} </td>
            <td> {{user.GroupID}} </td>
            <td> {{user.RoleID}} </td>
        </tr>
    </table>
</div>